<div class="container-fluid page-header py-5">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4 animated slideInDown">Sobre Nosotros</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item"><a href="#">Contacto</a></li>
                <li class="breadcrumb-item" aria-current="page">Sobre</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Fact Start -->
<div class="container-fluid bg-secondary py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 wow fadeIn" data-wow-delay=".1s">
                <div class="d-flex counter">
                    <h1 class="me-3 text-primary counter-value">99</h1>
                    <h5 class="text-white mt-1">Porcentaje de clientes satisfechos</h5>
                </div>
            </div>
            <div class="col-lg-3 wow fadeIn" data-wow-delay=".3s">
                <div class="d-flex counter">
                    <h1 class="me-3 text-primary counter-value">25</h1>
                    <h5 class="text-white mt-1">Envíos a domicilio</h5>
                </div>
            </div>
            <div class="col-lg-3 wow fadeIn" data-wow-delay=".5s">
                <div class="d-flex counter">
                    <h1 class="me-3 text-primary counter-value">120</h1>
                    <h5 class="text-white mt-1">Clientes que aman SmartShop</h5>
                </div>
            </div>
            <div class="col-lg-3 wow fadeIn" data-wow-delay=".7s">
                <div class="d-flex counter">
                    <h1 class="me-3 text-primary counter-value">5</h1>
                    <h5 class="text-white mt-1">Estrellas dadas por clientes satisfechos</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fact End -->


<!-- About Start -->
<div class="container-fluid py-5 my-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                <div class="h-100 position-relative">
                    <img src="assets/img/about-1.jpg" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                    <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                        <img src="assets/img/about-2.jpg" class="img-fluid w-100 rounded" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                <h5 class="text-primary">Sobre Nosotros</h5>
                <h1 class="mb-4">Innovación Digital: Forjando el Futuro del Retail Móvil</h1>
                <p>Descubre la esencia de SmartShop, donde la innovación digital es nuestro motor. Exploramos las
                    fronteras
                    tecnológicas para ofrecer experiencias de compra únicas y revolucionar el mundo del retail móvil.</p>
                <p class="mb-4">En SmartShop, nos enorgullece estar a la vanguardia de la revolución digital. Desde
                    soluciones
                    personalizadas hasta experiencias de cliente sin igual, estamos comprometidos con la excelencia y la
                    transformación. Únete a nosotros mientras creamos un futuro donde cada interacción sea una experiencia
                    innovadora.</p>
                <a href="" class="btn btn-secondary rounded-pill px-5 py-3 text-white">Mas detalles</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Team Start -->
<div class="container-fluid pb-5 mb-5 team">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
            <h5 class="text-primary">Nuestro Equipo</h5>
            <h1>Conozca a nuestro equipo de expertos</h1>
        </div>
        <div class="owl-carousel team-carousel wow fadeIn" data-wow-delay=".5s">
            <div class="rounded team-item">
                <div class="team-content">
                    <div class="team-img-icon">
                        <div class="team-img rounded-circle">
                            <img src="src/assets/img/josdramo.jpeg" class="img-fluid w-100 rounded-circle" alt="josdramo">
                        </div>
                        <div class="team-name text-center py-3">
                            <h4 class="">josdramo</h4>
                            <p class="m-0">Inicio</p>
                        </div>
                        <div class="team-icon d-flex justify-content-center pb-4">
                            <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rounded team-item">
                <div class="team-content">
                    <div class="team-img-icon">
                        <div class="team-img rounded-circle">
                            <img src="src/assets/img/ggpachec.png" class="img-fluid w-100 rounded-circle" alt="ggpachec">
                        </div>
                        <div class="team-name text-center py-3">
                            <h4 class="">ggpachec</h4>
                            <p class="m-0">Contacto</p>
                        </div>
                        <div class="team-icon d-flex justify-content-center pb-4">
                            <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rounded team-item">
                <div class="team-content">
                    <div class="team-img-icon">
                        <div class="team-img rounded-circle">
                            <img src="src/assets/img/GHOST0410.jpg" class="img-fluid w-100 rounded-circle" alt="GHOST0410">
                        </div>
                        <div class="team-name text-center py-3">
                            <h4 class="">GHOST0410</h4>
                            <p class="m-0">Sobre</p>
                        </div>
                        <div class="team-icon d-flex justify-content-center pb-4">
                            <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->

<!-- Tabla con datos -->
<div class="table-container">
    <table>
        <tbody>
            <tr>
                <th> Codigo del Producto  </th>         
                <th> Cantidad </th>      
                <th> Precio </th>   
                <th> Año fiscal de la transaccion </th>       
                <th> Fecha de la transaccion  </th>      
            </tr>
            @for (datum of data; track datum) {
            <tr>
                <th> {{  datum["P_NO"]  }}  </th>
                <th> {{  datum["Amount"]  }}  </th>
                <th> {{  datum["Price"]  }}  </th>
                <td> {{  datum[" F Y"]  }}  </td>
                <td> {{  datum["Date"] }} </td>
            </tr>
            } @empty {
            <tr>
                <td colspan="4" class="text-center">Aún no hay datos</td>
            </tr>
            }
        </tbody>
    </table>
</div>    
